/*mexendo em elementos*/
.btn-link {
    text-decoration: none;
    color: #000;
}
nav a {
    padding: 0 15px 0 15px;
}

a:hover {
    background-color: #222222;
    color: antiquewhite;
    border-radius: 20px;
}