@import './elements.css';
@import './fonts.css';
@import './normalize.css';
@import './variables.css';
* {
    padding: 0;
    border: none;
    margin: 0;
}

body {
    background-color: #FFF;
    width: 100%;
    padding: 0px;
    margin: 0px;

}