@import '../css/global/global.css';


header {
    background-color: #222222;
    height: 6vw;
    z-index: 1000;
    width: 100vw;
    display: inline-block;
}

header a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 1.5vw;
    margin-left: 2vw;
    position: relative;
    left: 80%;
    top: -10px;



}

#nav-bar {
    background-color: #ccc4a7;
    display: flex;
    height: 35px;
    align-items: center;
    padding-left: 65vw;
    justify-content: center;

}

nav a {
    padding: 0 15px 0 15px;
}

a:hover {
    background-color: #222222;
    color: antiquewhite;
    border-radius: 20px;
}

#principal {
    position: relative;
    padding: 20px;
    background-color: #f4f4f4;
    border: 5px solid #ccc;
    top: 10vw;
    width: 40vw;
    height: 80vh;
    left: 25vw;
}

#container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 150px;
    left: -185px;
}

#lateral {
    /* border: 5px solid #ccc; */
    width: 20vw;
    height: 100vw;
    position: absolute;
    top: 45vh;
    right: 100px;

}

/* #lateral div{
    position: relative;
    border: 5px solid #ccc;
    margin-top: 30px;
    padding: 10px;
    top: 10px;
} */
#card1 {
    display: flex;
    justify-content: center;
    background-color: #fff;
    height: 70px;
    text-align: center;
    padding: 0px;
    border: 1px solid #ccc;


}

#card1 h1 {
    background-color: #292222;
    width: 100vw;
    height: 35px;
    font-size: small;
    color: #ccc;
    padding-top: 30px;
    


}

footer {
    text-align: center;
    background-color: #040404;
    height: 150px;
    margin-top: 100vw;

}

footer p {
    margin-top: 10px;
}