@import './partials/section-um.css';
@import './partials/section-dois.css';
@import './partials/section-tres.css';
@import './partials/section-quatro.css';
@import '../css/global/global.css';


h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

li {
    list-style-type: none;
    display: inline;
    position: relative;
    left: 60vw  ;
    color: #FAFAFA;
    padding: 20px;    
}

nav{
    
justify-content: center  ;
    
}
article {
    background: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}
footer{
    
  text-align: center;
    background-color: #fff;
    height: 150px;
}

a:hover{
    color: #fffdff;
    text-decoration: underline;
    background-color: #a400b9;
    height: 22vh;
}



#nav {
    background-color: #4F4D46;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
}



 
